---
import SiteLayout from "@layouts/SiteLayout.astro";
import { type Post, getPosts } from "@utils/data";
import Socials from "@components/Socials.astro";
import { SITE } from "@config";

export interface Props extends Post {}

export async function getStaticPaths() {
  const posts = await getPosts();

  return posts.map(post => ({
    params: {
      slug: post.slug,
    },
    props: post,
  }));
}

const { title, slug, bodyHTML, publishOnDate, authors } = Astro.props;
const publishOnDateString = new Date(publishOnDate || "").toLocaleDateString(
  "en-US",
  {
    year: "numeric",
    month: "long",
    day: "numeric",
  }
);
---

<SiteLayout title={title}>
  <article>
    <header>
      <h1 transition:name={slug}>{title}</h1>
      <p>
      By {authors?.map(author => <a href=`https://github.com/${author}`>{author}</a>)} for {SITE.title} | <time datetime={publishOnDate}>{publishOnDateString}</time> </p>
    </header>
    <section set:html={bodyHTML} />
  </article>

</SiteLayout>
