---
import SiteLayout from "@layouts/SiteLayout.astro";
import { type Post, getPosts } from "@utils/data";
import Socials from "@components/Socials.astro";

export interface Props extends Post {}

export async function getStaticPaths() {
  const posts = await getPosts();

  return posts.map(post => ({
    params: {
      slug: post.slug,
    },
    props: post,
  }));
}

const { title, slug, bodyHTML, publishOnDate } = Astro.props;
---

<SiteLayout title={title}>
  <h1 transition:name={slug}>{title}</h1>
  <time datetime={publishOnDate}>{publishOnDate}</time>
  <article set:html={bodyHTML} />

  <footer><Socials /></footer>
</SiteLayout>
